:root{
    --text: #0a1214;
    --background: #fbfbfb;
    --primary: #35bfed;
    --secondary: #9acedf;
    --accent: #68b9d4;
  }
  
  *{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  body{
    background-color: var(--background);
  }