body{
  margin: 2rem 3rem;
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

#startContentWrapper{
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

#buttonWrapper{
  background-color: var(--card-bg);
  border-radius: var(--s-radius);
  display: flex;
  justify-content: space-evenly;
  padding: 1rem;
}

#Content{
  display: flex;
  flex-direction: column;
  gap: 3rem;
}

.infoCardWrapper{
  width: 100%;
}

.cardInfo{
  align-items: center;
  border-radius: var(--s-radius);
  display: flex;
  font-size: 1.3rem;
  gap: 6rem;
  padding: 2rem;
  margin: auto;
  max-width: var(--max-width);
}

.cardInfo p{
  text-align: justify;
  padding-right: 56px;
}

#Content .infoCardWrapper:nth-child(odd)>.cardInfo{
  flex-direction: row-reverse;
}

.cardInfo img{
  height: clamp(100px, 20vw, 300px);
  border-radius: var(--s-radius);
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  object-fit: cover;
}

#startGalery{
  width: 100%;
}

#galeryWrapper{
  display: flex;
  flex-wrap: wrap;
  max-width: var(--max-width);
  margin: auto;
  justify-content: space-evenly;
}

#galeryWrapper img{
  height: 200px;
  mask-image: url(../public/decoration/blob.svg);
  mask-size: contain;
  mask-repeat: no-repeat;
  mask-position: center;
}

#galeryWrapper p{
  background-color: var(--card-bg-alt);
  border-radius: var(--s-radius);
  padding: 1rem 2rem;
  text-align: center;
  width: 300px;
}

.galeryImage{
  background-size: cover;
  background-position: center;
  border-radius: var(--s-radius);
  height: 200px;
  width: 300px;
  mask-image: url(../public/decoration/blob.svg);
  mask-size: contain;
  mask-repeat: no-repeat;
  mask-position: center;
}

#g1.galeryImage{ background-image: url(/public/images/start_2.jpeg) }
#g2.galeryImage{ background-image: url(/public/images/start_3.jpeg) }
#g3.galeryImage{ background-image: url(/public/images/start_4.jpeg) }

.galeryItem{
  display: flex;
  flex-direction: column;
}

@media screen and (max-width: 1000px){
  #startContentWrapper{
    margin: 0;
  }

  #Content .infoCardWrapper:nth-child(odd)>.cardInfo,
  #Content .infoCardWrapper:nth-child(even)>.cardInfo{
    flex-direction: column;
  }

  .cardInfo{
    gap: 2rem;
    margin-top: 1rem;
  }

  .cardInfo p{
    padding-right: 0;
  }
  
  .cardInfo img{
    height: auto;
    width: 100%;
  }
}